<div class = "well">
  <%= form_for @post, html: { multipart: true } do |f| %>
    <div class="field">
      <%= f.text_area :title, placeholder: "Write something", class: "form-upload" %>      
    </div>
    <%= f.label :attachment %>
    <%= f.label :Category %>
      <div class="form-group">
        <% if Category.any? %>
          <%= f.collection_select :category_id, Category.all, :id, :name, {},
            {class: "form-control", id: "collection"} %>
        <% else %>
          <%= link_to t("category.no_category"), new_category_path,
            class: "btn btn-primary" %>
        <% end %>
      </div>
    <%= f.file_field :attachment %>
    <%= f.submit "Update", class: "btn btn-primary upload" %>
  <% end %>
</div>
